.form {
  padding: 1rem;
  background: #e1e1e1;
  border-radius: 0.2rem;
}

.form-heading {
  margin: 0;
}

.form-control {
  display: flex;
}

.form-control {
  margin-top: 1rem;
}

.form-label {
  display: inline-block;
  min-width: 15ch;
}

.form-input {
  flex: 1 0 0;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}
