.form {
  padding: 1rem;
  background: linear-gradient(
    to top,
    rgb(41, 128, 185),
    rgb(109, 213, 250),
    rgb(255, 255, 255)
  );
  border-radius: 0.2rem;
}

.form-control {
  margin-top: 1rem;
}

.form-label {
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  resize: none;
  border-radius: 0.2rem;
}
