.form {
  padding: 1rem;
  background: #e1e1e1;
  border-radius: 0.2rem;
}

.form-heading {
  margin: 0;
}

.form-control {
  margin-top: 1rem;
}

.form-label {
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  resize: none;
  border-radius: 0.2rem;
}
