.result-bg {
  background: linear-gradient(
    to top,
    rgb(127, 127, 213),
    rgb(134, 168, 231),
    rgb(145, 234, 228)
  );
}

.result-section + .result-section {
  margin-top: 1rem;
}

.result-section--main {
  display: flex;
}

.result-info {
  margin-left: auto;
}

.result-mainheading {
  font-size: 4rem;
}

.result-subheading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.result-label {
  margin: 1rem 0 0 0;
  font-weight: bold;
}

.result-text {
  margin: 0.5rem 0 0 0;
}

.result-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
